<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Jooyoung's Blog👾</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>

    {% if user.is_authenticated %}
    <div>
        안녕하세요, {{user.username}}님({{user.birthday}})
    </div>
    {% endif %}


    <div style="margin-left: 2rem;">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">로그아웃 <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">로그인</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">회원가입</a>
            </li>
            {% endif %}
        </ul>
    </div>


</nav>