{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            text-align: center;
            width: auto;
            margin: 1rem 5rem 1rem 5rem;
        }
    </style>
</head>

<body>

    {% load static %}
    {% include 'navbar.html' %}

    <img src="{% static 'KakaoTalk_Photo_2020-05-25-01-58-10.jpeg' %}" alt="">
    <a href="{% url 'new' %}">새글 작성하기</a>

    <div>
        {% for blog in blogs %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                {{blog.summary}}
                <br>
                {% if blog.image %}
                <img src="{{blog.image.url}}">
                {% endif %}

                <a href="{% url 'detail' blog.id %}" class="card-link">더보기</a>
            </div>
            <!-- <div class="card-footer"> 이 부분은 차후 수정해보는 걸루
                <small class="text-muted">
                    {% if likes > 1 %}
                    {{liker}}님 외 {{likes|add:"-1"}}명이 좋아합니다.
                {% elif likes == 1 %}
                    {{liker}}님이 좋아합니다.
                {%else%}
                    아직 이 글에 좋아요를 누른 사람이 없습니다.
                {% endif %}
                </small>
            </div> -->
        </div>
        {% endfor %}
    </div>

</body>

</html>
{%endblock%}